<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxh.ssm.module.download.mapper.CategoryFieldsMapper">
    <resultMap id="categoryFieldsMap" type="com.zxh.ssm.module.download.pojo.CategoryFieldsRe">
        <result column="fieldName" property="fieldName"/>
        <result column="displayName" property="displayName"/>
    </resultMap>
    <select id="selectCategoryFields" parameterType="String"
            resultMap="categoryFieldsMap">
        SELECT fieldName,displayName FROM indicator
        <where>
           AND category = #{Disease}
           AND downable=1
        </where>
        GROUP BY fieldName
        ORDER BY displayName ASC;
    </select>
</mapper>