<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxh.ssm.module.dynamicOutbreak.mapper.CountByAddressMapper">

    <resultMap id="countByTimeAddressMap" type="com.zxh.ssm.module.whole.pojo.DiseaseOutbreak">
        <result property="breakyear" column="breakYear"/>
        <result property="breakmonth" column="breakMonth"/>
        <result property="casenum" column="caseNum"/>
    </resultMap>

    <select id="selectCountByAddress" parameterType="com.zxh.ssm.module.dynamicOutbreak.pojo.Pretreatment"
            resultMap="countByTimeAddressMap">
        SELECT YEAR(pci.illDate) AS breakYear,MONTH(pci.illDate) AS breakMonth,COUNT(pi.address) AS caseNum
        FROM patient_information pi,patient_cases_information pci
        <where>
            AND pi.`year`=pci.`year` AND pi.cardID = pci.cardID
            <if test="provinceName!= null and provinceName !=''">
                AND pi.address LIKE '%${provinceName}%'
            </if>
            <if test="null != cityName and '' != cityName">
                AND pi.address LIKE '%${cityName}%'
            </if>
            <if test="null != countyName and '' != countyName">
                AND pi.address LIKE '%${countyName}%'
            </if>
            <if test="null != townName and '' != townName">
                AND pi.address LIKE '%${townName}%'
            </if>
        </where>
        GROUP BY YEAR(pci.illDate),MONTH(pci.illDate)
    </select>
</mapper>