<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxh.ssm.module.preDeal.mapper.PreDealMapper">

    <select id="selectAddressArray" resultType="java.lang.String">
      SELECT DISTINCT(address) FROM patient_information WHERE address LIKE '%云南%' LIMIT 6250,1000
    </select>

</mapper>
