<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxh.ssm.module.user.mapper.AnalyzeMapper">

    <resultMap id="analyzeByCareerMap" type="com.zxh.ssm.module.user.pojo.CareerAnalyzeRe">
        <result column="careerCategory" property="careerCategory"/>
        <result column="patientNum" property="patientNum"/>
    </resultMap>

    <select id="analyzeByCareer" parameterType="com.zxh.ssm.module.user.pojo.AnalyzeVo"
            resultMap="analyzeByCareerMap">
      SELECT pi.career careerCategory,COUNT(pi.career) patientNum FROM patient_information pi
        <where>
            <if test="endYear!='' and endYear!=null">
                <if test="beginYear!='' and beginYear !=null">
                  AND (pi.`year` BETWEEN #{beginYear} AND #{endYear})
                </if>
            </if>
            <if test="province != null and province != ''">
                AND ( pi.address LIKE '${province}%')
            </if>
        </where>
          GROUP BY pi.career ;
    </select>


    <resultMap id="analyzeBySexMap" type="com.zxh.ssm.module.user.pojo.SexAnalyzeRe">
        <result column="sex" property="sex"/>
        <result column="patientNum" property="patientNum"/>
    </resultMap>

    <select id="analyzeBySex" parameterType="com.zxh.ssm.module.user.pojo.AnalyzeVo"
            resultMap="analyzeBySexMap">
        SELECT pi.sex sex,COUNT(pi.sex) patientNum FROM patient_information pi
          <where>
            <if test="beginYear!='' and endYear!=''
                      and beginYear !=null and endYear!=null">
              AND (pi.`year` BETWEEN #{beginYear} AND #{endYear})
            </if>
            <if test="province != null and province != ''">
                AND ( pi.address LIKE '${province}%')
            </if>
          </where>
	        GROUP BY sex;
    </select>


    <select id="analyzeByAgeGroup" parameterType="com.zxh.ssm.module.user.pojo.AnalyzeVo"
            resultType="int">
        SELECT COUNT((pi.`year`-YEAR(pi.birthday)+1)) FROM patient_information pi
				<where>
                    <if test="province != null and province != ''">
                        AND ( pi.address LIKE '${province}%')
                    </if>
                    <if test="virtualAgeUpLimit!=null and virtualAgeDownLimit!=null ">
                        AND ((pi.`year`-YEAR(pi.birthday)+1) BETWEEN #{virtualAgeDownLimit} AND #{virtualAgeUpLimit})
                    </if>
                    <if test="beginYear!='' and endYear!=''
                      and beginYear !=null and endYear!=null">
                        AND (pi.`year` BETWEEN #{beginYear} AND #{endYear})
                    </if>
                </where>
    </select>

</mapper>