<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxh.ssm.module.user.mapper.DynamicOutbreakMapper">

    <resultMap id="addressResultMap" type="com.zxh.ssm.module.user.pojo.DynamicOutbreakRe">
        <result property="addressCount" column="addressCount"/>
        <result property="address" column="address"/>
    </resultMap>

    <select id="selectAddressByYearMonth" parameterType="com.zxh.ssm.module.user.pojo.DynamicOutbreakVo"
            resultMap="addressResultMap">
        SELECT pi.address address,COUNT(pi.address) addressCount FROM patient_cases_information pc,patient_information
        pi
        WHERE pc.cardID=pi.cardID AND pc.`year`=pi.`year`
        AND YEAR(pc.illDate)=#{year} AND MONTH(pc.illDate)=#{month}
        <if test="province!='' and province!=null">
            AND pi.address LIKE '${province}%'
        </if>
        GROUP BY pi.address;
    </select>



</mapper>